{% block nav %}
	<nav class="navbar navbar-dark bg-dark">
  		<div class="container">
    		<a class="navbar-brand" href="http://localhost:8000/article/#">Ma Jolie Navbar</a>
 		</div>
 	</nav>
{% endblock %}
